@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$button:#cc9439;

html {
    background: #333;
    background-image: url(https://i.imgur.com/MlfDS2G.gif);
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 50px;
}

.link{
    color:inherit;
    display:block;
    padding:10px;
}

.generate-quiz {
    box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
    margin-bottom: 50px;
    margin-top: 30px;
}
.generate-quiz__question-list {
    padding: 0;
    margin: 0;
    list-style:none;
}
.generate-quiz__answer-list {
    padding: 0;
    margin: 0;
    list-style:none;
    background: rgba(29, 18, 0, 0.4);
}

.generate-quiz__question-title {
    background: rgba(190, 138, 70, 0.19);
    margin: 0;
    padding: 10px;
}

.generate-quiz__answer {
    margin: 0;
    color: white;
    transition: 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.generate-quiz__answer:last-child {
    border: 0;
}

.generate-quiz__answer:hover {
    background: rgba(232, 180, 95, 0.54);
}

.generate-quiz__answer:active {
    transform: translateY(3px);
}

.generate-quiz__answer input {
    height: 20px;
    width: 20px;
}

.generate-quiz__answer label {
    display: flex;
    align-items: center;
    padding: 10px;
}

.generate-quiz__menu {
    background: rgba(190, 138, 70, 0.75);
    box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.75);
    margin-bottom: 50px;
}

.generate-quiz__results {
    padding: 40px;
    margin: 0;
}

.generate-quiz__answer_wrong {
    background: rgba(255, 66, 66, 0.24);
}

.generate-quiz__answer_correct {
    background: rgba(79, 255, 79, 0.24);
}

.btn {
    padding: 15px 40px;
    width: 100%;
    background: 0;
    border: 0;
    background: $button;
    transition: 0.3s;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
    margin-top: 20px;
}

.btn:hover {
    background: lighten($button, 20%);
}

.btn:active {
    transform: translate(0, 5px);
    background: darken($button, 20%);
}